<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Error 500</title>
</head>
<body class="bod">
    <div class="cont">
        <h1>We are sorry, its not you its us1</h1>
        <p>The page you are looking for might have been removed, had its name changed or its temporarily unavailable</p>
        <a href="#">Back to homepage</a>
    </div>
    <h1 class="fof">ERROR</h1>
</body>
</html>