<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script
      src="https://kit.fontawesome.com/c8e4d183c2.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body class="email__bo">
    <div class="contine">
      <div class="ro">
        <div class="noti">
          <div class="fa__email">
            <i class="fas fa-solid fa-envelope"></i>
          </div>
          <h2>Prime Capital</h2>
          <p>
            Dear user, Congratulations! Your email has been successfully
            verified.
          </p>
        </div>
        <div class="footer__email">
          <p>
            Contact us at
            <a class="footer__a" href="mailto:your@email.com"
              >primecapital@email.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
